{% extends 'layout.html' %} {% block title %} Create {% endblock %} {% block
main %}
<form action="/create" class="container w-50" method="post">
  <div class="form-floating mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      id="issue"
      name="issue"
      placeholder="Issue"
      type="text"
    />
    <label for="issue">Issue</label>
  </div>
  <div class="form-floating mb-3">
    <textarea
      autocomplete="off"
      class="form-control"
      placeholder="Description"
      id="description"
      name="description"
      style="height: 200px"
    ></textarea>
    <label for="description">Description</label>
  </div>
  <!-- <div class="form-floating mb-3">
    <textarea
      autocomplete="off"
      class="form-control"
      placeholder="Comments"
      id="comments"
      name="comments"
      style="height: 200px"
    ></textarea>
    <label for="comments">Comments</label>
  </div> -->
  <button class="btn btn-primary" type="submit">Create+</button>
</form>
{% endblock %}
