{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block
main %}
<h1>Reported Tickets</h1>

<table class="table table-bordered table-hover table-stripped">
  <thead class="thead-light">
    <tr class="table-primary">
      <th>Ticket</th>
      <th>Created by</th>
      <th>Issue</th>
      <th>Description</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
    <tr>
      <td>
        <a href="/update?ticket_id={{ ticket.id }}">TKT-{{ ticket.id }}</a>
      </td>
      <td>{{ ticket.username.capitalize() }}</td>
      <td>{{ ticket.issue }}</td>
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.timestamp }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
