{% extends 'layout.html' %} {% block title %} Update {% endblock %} {% block
main %}
<h1>Update</h1>
{% for ticket in tickets %}
<h2>TKT-{{ ticket.id }}</h2>
<form action="/update" class="container w-50 mb-3" method="post">
  <div class="form-floating mb-3">
    <input
      autocomplete="off"
      class="form-control"
      disabled
      hidden
      id="ticket"
      name="ticket_id"
      placeholder="Ticket"
      type="text"
      value="{{ ticket.id }}"
    />
    <label hidden for="ticket">Ticket</label>
  </div>
  <div class="form-floating mb-3">
    <input
      autocomplete="off"
      class="form-control"
      placeholder="Issue"
      id="issue"
      name="issue"
      value="{{ ticket.issue }}"
    ></input>
    <label for="issue">Issue</label>
  </div>

  <div class="form-floating mb-3">
    <input
      autocomplete="off"
      class="form-control"
      placeholder="Description"
      id="description"
      name="description"
      value="{{ ticket.description }}"
    ></input>
    <label for="description">Description</label>
  </div>

  <div class="form-floating mb-3">
    <textarea
      autocomplete="off"
      autofocus
      class="form-control"
      placeholder="Comments"
      id="comments"
      name="comments"
      style="height: 200px"
    ></textarea>
    <label for="comments">Comments</label>
  </div>
  <button class="btn btn-primary" type="submit" name="action" value="update">
    Update
  </button>
  <button class="btn btn-secondary" type="submit" name="action" value="resolve">
    Resolve
  </button>
</form>
{% endfor %}
<!-- <table class="table table-bordered table-hover table-stripped">
  <thead class="thead-light">
    <tr class="table-primary">
      <th>Comments</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for comment in comments %}
    <tr>
      <td>{{ comment.comment }}</td>
      <td>{{ comment.timestamp }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> -->
{% endblock %}
