{% extends 'layout.html' %} {% block title %} Update {% endblock %} {% block
main %}
<h1>Update</h1>
<form action="/update" class="container w-50" method="post">
  <div class="form-floating mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      id="issue"
      name="issue"
      type="text"
      value="TODO"
    />
    <label for="issue">Issue</label>
  </div>
  <div class="form-floating mb-3">
    <input
      autocomplete="off"
      class="form-control"
      id="description"
      name="description"
      type="text"
      value="TODO"
    />
    <label for="description">Description</label>
  </div>
  <div class="form-floating mb-3">
    <textarea
      autocomplete="off"
      class="form-control"
      placeholder="Comments"
      id="comments"
      name="comments"
      style="height: 200px"
      value="TODO"
    ></textarea>
    <label for="comments">Comments</label>
  </div>
  <button class="btn btn-primary" type="submit" name="action" value="update">
    Update
  </button>
  <button class="btn btn-secondary" type="submit" name="action" value="resolve">
    Resolve
  </button>
</form>
{% endblock %}
